<main id="mySwitches">
  <h1>{{i18n 'My Switches'}} ({{mySwitches.length}})</h1>

  {{#unless mySwitches.length}}

    <img src="img/empty.png" class="empty_img" alt="Fondo vacío">
    <h2>{{i18n 'This is deserted! There are no switches. So what are you waiting for? Create your first switch' }}</h2>

  {{else}}

    {{#each mySwitches}}

      aaaa {{prueba}} bbbb


      <div class="divSwitch {{#if isOn}} on {{else}} off {{/if}}">
        <form>
          <input type="hidden" value="{{this.public_uuid}}" name="switch_public_uuid">

<!--      TODO -> Se cambia el sistema respecto al MVC. En lugar de ser un  botón, aquí debería de ser funcional el switch -->
          <label class='switch'>
            <input type='checkbox' name='switch_state_{{this.public_uuid}}' {{#if isOn}} checked {{/if}} >
            <span class='slider round'></span>
          </label>

          {{#unless isOn}}
            <label class="form-label switch_time_label">{{i18n 'Time' }}</label>
            <input type="number" class="form-input switch_time" name="time_on" value="60">
          {{/unless}}

        </form>

        <h3 class="switch_name">{{this.switch_name}}</h3>
<!--    TODO -> solucionar printf en i18n. Creo que no se puede utilizar '%s'-->
        {{#if hasDateSwitchOn}}
          {{#if isOn}}
            <p class="switch_time_poweredOn">{{i18n 'Is switched on since %s'}} {{switch.last_power_on}}</p>
          {{else}}
            <p class="switch_time_poweredOff">{{i18n 'Last lit on %s at %s'}}</p>
          {{/if}}
        {{else}}
          <p class="switch_time_poweredOff"> {{i18n 'It never has been powered on' }}</p>
        {{/if}}
<!--    TODO -> Está a medio hacer. Acoplarlo a JS-->
        <input type="text" class="texto-input form-input" readonly>
        <img src="img/share.png" alt="Compartir" class="switch_button1" height="30" width="30">
        <img src="img/share_with_permission.png" class="switch_button3" alt="Compartir con permisos" height="30" width="30">

        <p class="switch_owner">{{switch.user_name}}</p>
        <a href="index.php?controller=switches&amp;action=edit&amp;public_uuid=<?php echo $switch->getPublicUuid()?>">
          <img src="img/edit.png" alt="Editar" class="switch_button2" height="30" width="30"></a>
      </div>

    {{/each}}
  {{/unless}}
</main>
